body{
    background-image: url(../images/background\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#dashboardTitle {
    position: absolute;
    height: 50px;
    width: 500px;
    inset: 0%;
    translate: 10% 10%;
    
    border-style: outset;
    border-color: rgb(112, 222, 255);
    border-radius: 20px;

    background-color: rgb(112, 222, 255);

    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
}


#dashboardBox {
    color: white;
    position: absolute;

    font-family: "Roboto", sans-serif;
    font-size: 30px;

    border-color: rgb(43, 166, 182);
    border-style: outset;
    background-color: rgb(43, 166, 182);
    border-radius: 20px;

    width: 600px;
    height: 400px;
    inset: 50%;
    translate: -39% -50%;

    text-align: center;

    animation: fadeIn 1s, buttonIntroHover 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#loginButton:hover {
    background-color: rgb(0, 195, 255);
    transform: translateY(-10%);
    opacity: 1;
}

#yourDetails {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    border-color: rgb(71, 212, 255);
    border-style: outset;
    background-color: rgb(71, 212, 255);
    border-radius: 20px;
    inset: 50%;
    width: 250px;
    height: 110px;
    translate: -110% -100%;
    text-align: center;
}


#medications {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    border-color: rgb(71, 212, 255);
    border-style: outset;
    background-color: rgb(71, 212, 255);
    border-radius: 20px;
    inset: 50%;
    width: 250px;
    height: 110px;
    translate: 10% -100%;
    text-align: center;
}

#messageProvider {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    border-color: rgb(71, 212, 255);
    border-style: outset;
    background-color: rgb(71, 212, 255);
    border-radius: 20px;
    inset: 50%;
    width: 250px;
    height: 110px;
    translate: -110% 40%;
    text-align: center;
}

#messageProvider {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    border-color: rgb(71, 212, 255);
    border-style: outset;
    background-color: rgb(71, 212, 255);
    border-radius: 20px;
    inset: 50%;
    width: 250px;
    height: 110px;
    translate: -110% 40%;
    text-align: center;
}

#inbox {
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    border-color: rgb(71, 212, 255);
    border-style: outset;
    background-color: rgb(71, 212, 255);
    border-radius: 20px;
    inset: 50%;
    width: 250px;
    height: 110px;
    translate: 10% 40%;
    text-align: center;
}

#signupButton:hover {
    background-color: rgb(0, 195, 255);
    transform: translateY(-10%);
    opacity: 1;
}

@keyframes titleHover {
    from{transform: translateY(30%)}
}

@keyframes buttonIntroHover {
    from{transform: translateY(50%)}
}

@keyframes fadeIn {
    100%{opacity: 1}
}