body{
    background-image: url(../images/background\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#signUpTitle {
    color: white;
    translate: 0% 5%;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#signupPage {
    display: grid;
    position: absolute;
    inset: 50%;
    translate: -50% -50%;

    border: 3px;
    background-color: rgb(43, 166, 182);
    border-color: rgb(43, 166, 182);
    border-radius: 10px;
    border-style: outset;

    width: 350px;
    height: 600px;
    animation: fadeIn 1s, hoverUp 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}


.inputBoxes {
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    width: 300px;
    height: 25px;
    border-radius: 4px;
    border-style: outset;
    border-color: rgb(206, 206, 206);
}

.inputLabels {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
}

#additionalInfoLabel {
    bottom: 5px;
    position: relative;
}

#additionalInfoInput {
    margin-bottom: 30px;
    resize: none;
}

#resetButton {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    background-color: rgb(0, 216, 198);
    border-color: rgb(0, 216, 198);
    border-style: outset;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    position: absolute;
    left: 35px;
    bottom: 7px;
}

#resetButton:hover {
    background-color: rgb(68, 253, 238);
}

#submitButton:hover {
    background-color: rgb(68, 253, 238);
}

#submitButton {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: rgb(0, 216, 198);
    border-color: rgb(0, 216, 198);
    width: 150px;
    height: 35px;
    border-radius: 8px;
    position: absolute;
    right: 35px;
    bottom: 7px;
}

@keyframes hoverUp {
    from{transform: translateY(5%)}
}


@keyframes fadeIn {
    100%{opacity: 1}
}