<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="index.php" method="POST">
        <label for="Username" style="font-size: medium;">
            <b>Username</b>
        </label>
        <input type="text" id="Username" placeholder="Enter username"><br>

        <label for="Password" style="font-size: medium;">
           <b>Password</b>
        </label>
        <input type="text" id="Password" placeholder="Enter password" minlength="7">
    </form>
</body>