<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Inbox</title>
    <link rel="stylesheet" href="../css/patientInbox.css">
    <!-- <link rel="stylesheet" href="../static/css/patientInbox.css"> -->

</head>

<body>
    <div id="box">
        <h2>Inbox</h2>

        <div th:each="msg : ${messages}">
            <div id="inboxBox">
                <div id="senderInfo" class="info">
                    From -  <span id="senderEmail" th:text="${msg.senderEmail}"></span><br>
                </div>

                <!-- go to messaging page -->
                <a id="openChat" class="info" th:href="@{/messagePage(otherUser=${msg.senderEmail})}">
                    OPEN CHAT
                </a>
            </div>
        </div>

        <!-- start new message -->
        <a href="/messagePage">
            <button id="newMessageButton">
                NEW MESSAGE
            </button>
        </a>
    </div>
</body>

</html>