<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="../css/patientDashboard.css">
    <!-- <link rel="stylesheet" href="../static/css/patientDashboard.css"> -->

</head>

<body>
    <p id="dashboardBox">
        <label id="dashboardTitle">
            Dashboard
        </label><br>

        <a href="/patientGetDetails">
            <button id="yourDetails" class="buttons">
                Your Details
            </button>
        </a>

        <a href="/patientMedications">
            <button id="medications" class="buttons">
                Medications
            </button>
        </a>


        <a href="/messagePage">
            <button id="messageProvider" class="buttons">
                Message Provider
            </button>
        </a>

        <a href="/patientInbox">
            <button id="inbox" class="buttons">
                Inbox
            </button>
        </a>
    </p>

</body>