<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
<!--   this is temporary  <link rel="stylesheet" href="../css/patientDashboard.css"> -->
    <link rel="stylesheet" href="../static/css/patientDashboard.css">

</head>

<body>
    <p id="dashboardBox">
        <label id="detailsTitle">
            Your Details
        </label><br>

        <label id="detailsBox">
            Details wip
        </label>
    </p>

</body>