body{
    background-image: url(../Pictures/background\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#signUpTitle {
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

#signupPage {
    display: grid;
    position: relative;
    bottom: 100px;
    top: 35px;
    left: 450px;
    border: 3px;
    background-color: rgb(43, 166, 182);
    border-radius: 10px;
    border-style: solid;
    width: 350px;
    height: 550px;
}


.inputBoxes {
    font-family: "Roboto Mono", monospace;
    margin-left: 10px;
    width: 300px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
}

.inputLabels {
    font-family: "Roboto Mono", monospace;
    margin-left: 10px;
}

#additionalInfoLabel {
    bottom: 5px;
    position: relative;
}