<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Options</title>
    <link rel="stylesheet" href="../css/loginOptions.css">
</head>

<body>
    <h1>
        Who are you logging in as?
    </h1><br>

    <a href="patientLogin.html">
        <button id="patientButton" class="buttons">
            <b>PATIENT</b>
        </button>
    </a>

    
    <a href="physicianLogin.html">
        <button id="physicianButton" class="buttons">
            <b>PHYSICIAN</b>
        </button>
    </a>

</body>